{% load static %}
<!DOCTYPE html>
<head>
    <title>Loot-Tab</title>
    <link rel="icon" type="image/x-icon" href="{% static '/images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
  <header id="headbar">
    <div>
      <h1 id="title">lopine</h1>
    </div>

    <nav id="navbar">
      <a id="navaka" href="/">&nbsp;Home</a>
      <a id="nava" href="/lootgen">&nbsp;Loot&nbsp;</a>
      <a id="nava" href="wetter.html">&nbsp;Weather&nbsp;</a>
      <a id="nava" href="wetter.html">&nbsp;Encounter&nbsp;</a>
      <a id="nava" href="wetter.html">&nbsp;Changelog&nbsp;</a>
        <a id="nava" href="wetter.html">&nbsp;Changelog2</a>
    </nav>
  </header>
<h1>Home</h1>

</body>
