{% load static %}
<!DOCTYPE html>
<head>
    <title>Loot-Tab</title>
    <link rel="icon" type="image/x-icon" href="{% static '/images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
  <header id="headbar">
    <div>
      <h1 id="title">&nbsp;lopine</h1>
    </div>

    <nav id="navbar">
      <a id="nava" href="/">&nbsp;Home&nbsp;</a>
      <a id="navaka" href="/lootgen">&nbsp;Loot&nbsp;</a>
      <a id="nava" href="wetter.html">&nbsp;Weather&nbsp;</a>
      <a id="nava" href="wetter.html">&nbsp;Encounter&nbsp;</a>
      <a id="nava" href="wetter.html">&nbsp;Changelog&nbsp;</a>
        <a id="nava" href="wetter.html">&nbsp;Changelog2</a>
    </nav>
  </header>
<h1>Loot</h1>
<ul>
    {% for item in items %}
        <li>
            <strong>Name:</strong> {{ item.name }}<br>
            <strong>Type:</strong> {{ item.get_item_type_display }}<br>
            <strong>Rarity:</strong> {{ item.get_rarity_display }}<br>
            <!-- Add more attributes as needed -->
        </li>
    {% endfor %}
</ul>
</body>
