body {
  background-color: #4f2304; /* Warm beige background color */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#headbar {
  background-color: #754e28; /* Brownish background color */
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  max-width: 80%;
  margin: auto;
  box-shadow: 4px 2px 12px rgb(0, 0, 0);
}

#title {
  color: #b35f30; /* Rusty orange accent color for the title */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 360%;
  text-decoration-line: overline underline;
  text-decoration-color: #e2d1d0; /* Light beige for decoration */
  text-transform: capitalize;
  white-space: normal;
  line-height: 80px;
}

#navbar,
#buttonbar {
  padding-bottom: 20px;
  line-height: 50px;
}

#nava,
#nava:hover,
#navaka {
  color: #e2d1d0; /* Light beige for navigation links */
  background-color: #8c6239; /* Brownish background color */
  padding: 10px;
  border-radius: 10px;
  font-size: 130%;
  font-weight: bold;
  text-decoration: none;
}

#nava:hover {
  color: #b35f30; /* Rusty orange accent color on hover */
  padding: 12px;
}

#navaka {
  box-shadow: 4px 2px 12px rgba(238, 233, 233, 0.3);
}

#contentbar,
#footerbar {
  background-color: #6d4c41; /* Darker brown background color */
  border-radius: 15px;
  font-size: 100%;
  max-width: 50%;
  height: 100%;
  padding: 10px 40px;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 4px 2px 12px rgba(0, 0, 0, 0.3);
}

#footerbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 20px 40px;
}

#startblock {
  text-align: left;
  margin-left: 10px;
  grid-column-start: 1;
  padding-top: 10px;
}

#endblock {
  text-align: right;
  margin-right: 10px;
  grid-column-start: 3;
}

#footerhome,
#footerhome:hover,
#datumportfolio,
ul,
h1,
h2,
p,
a {
  color: #e2d1d0; /* Light beige text color */
}